<div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ PHÂN LOẠI</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Loại sản phẩm</a></li>
                            <li><a href="./email-read.html">Chi tiết loại sản phẩm</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ SẢN PHẨM</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Màu sắc</a></li>
                            <li><a href="./email-read.html">Kích cỡ</a></li>
                            <li><a href="./email-read.html">Sản phẩm</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ HÓA ĐƠN</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Màu sắc</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ kHUYẾN MÃI</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Màu sắc</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">THỐNG KÊ</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Màu sắc</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>